# Navdeep Sureka 19BCE2679 DA3

### 1) Implement Random forest Trees algorithm and test the algorithm using any data set of your choice. The output should include Accuracy, Error rate, Precision and recall rate along with the confusion matrix.

In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df=pd.read_csv("penguins_size.csv")

In [11]:
df=df.dropna()
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [12]:
X= pd.get_dummies(df.drop("species",axis=1),drop_first=True)
y=df["species"]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
rfc= RandomForestClassifier(n_estimators=10,max_features="auto",random_state=101)

In [16]:
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10, random_state=101)

In [17]:
predictions = rfc.predict(X_test)

In [37]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score,recall_score
confusion_matrix(y_test,predictions)

array([[53,  0,  0],
       [ 1, 19,  0],
       [ 0,  0, 38]])

In [32]:
accuracy_score(y_test,predictions)

0.990990990990991

In [35]:
precision_score(y_test,predictions,average='weighted')

0.9911578244911579

In [36]:
recall_score(y_test,predictions,average='weighted')

0.990990990990991

In [39]:
error_rate=1-accuracy_score(y_test,predictions)
error_rate

0.009009009009009028

### 2. Implement AdaBoost algorithm and test the algorithm using any data set of yourchoice. The output should include Accuracy, Error rate, Precision and recall ratealong with the confusion matrix.